table {
  margin: auto;
  width: 99%;
}
table tr td {
  padding: 15px 20px;
  border: solid 1px lightgray;
  min-width: 100px;
}
table thead {
  background: #0005d9;  
}
table thead th {
  height: 50px;
  color: white;
  padding-left: 20px;
}
.w-200{
  width: 200px;
}
.bg-e7 {
  background: #e7e7e7;
  color: #0005d9;
}

.icheck {
  display: inline-block;
}
.p-accept {
  font-size:1.2em;
  display:inline-block;
  margin-right: 10px;
}
.accept {
  margin: 25px 15px 0px 0px;
  width: 100px;
}